body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
header {
	height: 100px;
	background-color: gray;
}
a {
  color: #00B7FF;
}
td {
	text-align: center;
	margin: 15%;
	padding: 2%;
}
tr:hover {
	background-color: lightgray;
}
.search {
text-align: center;
    margin: 3% 3%;
    width: 200px;
}
