body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
head {
	height: 100px;
}
a {
  color: #00B7FF;
}
td {
	text-align: center;
	margin: 15%;
	padding: 2%;
}
tr:hover {
	background-color: lightgray;
}
